.button {
  background-color: gray;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: opacity 0.2s;
}

.button:hover {
  opacity: 0.8;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.primary {
  background-color: blue;
}
