.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: #ffffff;
  font-weight: bold;
  color: black;
}

.deleteButton {
  background-color: #ff4d4d;
  color: rgb(255, 255, 255);
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #ff1a1a;
}
